@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

:root{
  --orange:#ff6f28;
  --black:#2e2e2e;
}

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  scroll-behavior:smooth;
}

html,body{
  width:100%;
  height:100%;
  min-width:360px;
  font-family:'open sans',ariel;
  font-size:1rem;
  line-height:1.5;
}

#main{
  width:100%;
  min-width:360px;
  height:100%;
  display:flex;
  flex-wrap:wrap;
}

/*Navigation-bar container*/
#navbar{
  min-width:360px;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:50px;
  background:var(--black);
  display:flex;
  justify-content:flex-end;
  align-items:center;
  z-index:10;
  box-shadow:0 2px 2px 2px var(--orange);
}

/*Navbar list containing acnhors with jump-links*/
#navbar li{
  display:inline;
}

/*Anchors containing link to navigate to different page sections*/
.nav-link{
  display:inline-block;
  width:100px;
  text-decoration:none;
  text-align:center;
  background:var(--orange);
  color:var(--black);
  padding:5px;
  margin:0 30px;
  font-size:1.1rem;
  border-radius:10px;
  border:2px solid var(--orange);
  box-shadow:inset 5px 0 0px 1px var(--black);
  transition:0.3s ease-out; 
}

/*Hover transition on anchors*/
.nav-link:hover{
  box-shadow:inset 90px 0 0 var(--black);
  color:var(--orange);
}

/*Front Page containing name*/
#welcome-section{
  position:relative;
  width:100%;
  min-width:360px;
  height:100%;
  padding-top:75px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  background:var(--black);
  color:var(--orange);
  text-shadow:2px 0px 3px #eee;
}

/*Front Page heading*/
#header{
  width:100%;
  font-size:2rem;
  text-align:center;
}

/*Section contaning some info about myself*/
#about{
  width:100%;
  height:auto;
  display:grid;
  grid-template-columns:1fr 1fr;
  padding:50px;
  justify-items:center;
  align-items:center;
  background:var(--orange);
  color:var(--black);
  font-size:1.2rem;
}

/*about-me heading*/
#about-me-header{
  font-size:1.4rem;
  box-shadow:0px 2px var(--black);
}

/*Paragraph about-me*/
.about-me{
  width:100%;
  height:auto;
  background:var(--black);
  border-radius:20px;
  color:var(--orange);
  padding:30px;
  overflow:auto;
  word-break:break-words;
}

/*Section Containing Projects*/
#projects{
  width:100%;
  min-width:360px;
  height:auto;
  background:var(--black);
  color:var(--orange);
  text-align:center;
}

/*Main section and project-tile heading*/
.project-heading{
  display:inline-block;
  margin:30px auto;
  text-align:center;
  font-size:1.4rem;
  box-shadow:0px 2px var(--orange);
}

/*project container*/
.project-container{
  width:100%;
  height:auto;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  flex-wrap:wrap;
}

/*containing project heading, image and link*/
.project-tile{
  width:45%;
}

/*Div containing Project image*/
.image-container{
  position:relative;
}

/*Project image*/
.image{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  border-radius:10px;
  box-shadow:10px 10px 5px #eee;
  transition:0.3s ease-out;
  object-fit:cover;
}

/*Fancy slide in animation containing project source site hyperlink*/
.overlay{
  display:flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  bottom:0;
  left: 0;
  right:100%;
  background-color: var(--orange);
  border-radius:7px;
  overflow: hidden;
  width:0;
  height:100%;
  transition: .3s ease-out;
  opacity:0.8;
  padding:auto;
}

/*Anchor containing link to project source file*/
.project-link{
  text-decoration:none;
  background:var(--black);
  color:var(--white);
  border-radius:10px;
  padding:5px 10px;
  border:2px solid var(--black);
  box-shadow:inset 2px 0 0px 1px var(--orange);
  transition:0.3s ease-out, opacity 100ms;
  opacity:0;
}

/*Fancy slide-in transition code*/
.image-container:hover .project-link{
  opacity:1;
}

.project-link:hover {
  box-shadow:inset 160px 0 0 1px var(--orange);
  color:var(--black);
}

.image-container:hover .overlay{
  left: 0;
  width:100%;  
}
.image-container:hover .image{
  box-shadow:none;
}

/*Link to codepen ID*/
.codepen-link{
  display:inline-block;
  width:120px;
  text-decoration:none;
  text-align:center;
  background:var(--orange);
  color:var(--black);
  padding:10px;
  font-size:1.1rem;
  border-radius:10px;
  border:2px solid var(--orange);
  box-shadow:inset 5px 0 0px 1px var(--black);
  transition:0.3s ease-out;
  margin:50px auto;
}

/*slide-in transition on codepen-link*/
.codepen-link:hover{
  box-shadow:inset 108px 0 0 1px var(--black);
  color:var(--orange);
}

/*Section containing contact Info*/
#contact-info{
  width:100%;
  min-width:360px;
  height:auto;
  background:var(--orange);
  color:var(--black);
  padding:50px;
  text-align:center;
  font-size:1.4rem;
}

/*list containing hyperlinks*/
.contact-list{
  margin:30px auto;
}

.contact-list li{
  display:inline;
}

/*anchors containing links to */
.contact-list a{
  display:inline-block;
  text-decoration:none;
  color:var(--black);
  transition:0.3s ease-out;
  margin:auto 30px;
}

.contact-list a:hover{
  transform:translateY(-10px) scale(1.2);
  color:#eee;
  text-shadow:0px 0px 10px #eee;
}

/*footer containing copyright info*/
footer{
  width:100%;
  min-width:360px;
  height:auto;
  padding:50px;
  font-size:1.2rem;
  display:flex;
  align-items:center;
  justify-content:space-around;
  background:var(--black);
  color:var(--orange);
}

@media(max-width:1080px){
  #about{
    grid-template-columns:1fr 2fr;
  }
  .project-tile{
    width:90%;
    margin:auto 30px;
  }
}

@media(max-width:840px){
  #about{
    grid-template-columns:1fr;
    padding:10px;
  }
  .about-me{
    margin-bottom:30px;
    font-size:1rem;
    word-wrap:break-word;
    padding:10px;
  }
  #about-me-header{
    margin-bottom:20px;
  }
  .contact-list a{
    margin:10px 30px;
  }
  footer{
    display:grid;
    grid-template-columns:1fr;
    justify-items:center;
    align-items:center;
    grid-row-gap:30px;
    text-align:center;
  }
}

@media(max-width:740px){
  .nav-link{
    margin:0 10px;
  }
}

@media(max-width:640px){
  #navbar{
    justify-content:center;
  }
  #header{
    font-size:1.4rem;
  }
  .nav-link{
    margin:0 2px;
    font-size:1rem;
    width:80px;
  }
  .nav-link:hover{
  box-shadow:inset 72px 0 0 var(--black);
  color:var(--orange);
  }
  #about-me-header{
    font-size:1.2rem;
  }
  .project-heading{
    font-size:1.2rem;
    margin:10px 10px;
  }
  .project-tile{
    width:100%;
    margin:30px 10px;
  }
  .image{
    object-fit:cover;
    height:250px;
    box-shadow:5px 5px 5px #eee;
  }
  #contact-info{
    font-size:1rem;
    padding:10px;
  }
  .contact-list a{
    margin:10px 10px;
  }
  footer{
    font-size:1rem;
    padding:10px;
  }
}
